<div
  #outerContainer
  class="outer-container"
  pFocusTrap
  (click)="onClick($event)"
  (pointerdown)="onPointer($event)"
  (pointerup)="onPointer($event)"
>
  <div>
    <label>{{ name }}</label>
  </div>

  <input
    #nif
    type="number"
    value="0.5"
    (change)="onNumberChg($event)"
    lang="en-US"
    step="0.1"
  />
  <textarea #textArea></textarea>
  <button (click)="onFocBtClick()">focus1</button>
  <button (click)="onMetaClick($event)">meta</button>
  <button (click)="onClearClick()">clear</button>
  <div id="cbgroup" (focusout)="onCBLostFocus($event)">
    <label for="sel">Select input</label>
    <input
      id="sel"
      type="checkbox"
      [(ngModel)]="inputSelector"
      (change)="checkSelChg($event)"
    />
  </div>
  <div>
    <autocomplete-input
      class="foo"
      *ngIf="!inputSelector"
      #inputField
      compMeta
      trackVisibility
      (visibility)="onVisibilityChange($event)"
      [valueProvider]="valueProvider"
    ></autocomplete-input>
  </div>
  <div>
    <num-input
      *ngIf="inputSelector"
      #inputField
      compMeta
      trackVisibility
      (visibility)="onVisibilityChange($event)"
      [valueProvider]="valueProvider"
    ></num-input>
  </div>
</div>
<span>-----------------------</span>
<div #genspace></div>
<p>
  <span>-----------------------</span>
</p>
